<section id="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 offset-lg-4 col-md-8 offset-md-2 cont-login">
                <h2>Recuperar contraseña</h2>
                <form action="/nuevopassword" method="post" class="formLog" onsubmit="localStor()">
                    <div class="form-row justify-content-md-center">
                        <div class="form-group col-md-6 col-8">
                            <input type="text" class="form-control" id="inputUssuario" name="usuario" readonly value="{{result.usuario}}">
                        </div>
                    </div>
                    <div class="form-row justify-content-md-center">
                        <div class="form-group col-md-6">
                            <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Nuevo password" required>
                        </div>
                    </div>
                    <div class="form-row justify-content-md-center">
                        <div class="form-group col-md-6">
                            <button type="submit" class="btn btn-warning btn-lg" id="submitLogin">Cambiar password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
